link(rel='icon' type='image/png' sizes='32x32' href='/public/icons/favicon-32x32.png')
link(rel='icon' type='image/png' sizes='16x16' href='/public/icons/favicon-16x16.png' )
meta(name='apple-mobile-web-app-capable' content='yes')
meta(name='apple-mobile-web-app-status-bar-style' content='black')
meta(name='apple-mobile-web-app-title' content= htmlWebpackPlugin.options.title)
link(rel='apple-touch-icon' type='image/png' href='/public/icons/apple-touch-icon.png')
meta(name='msapplication-TileColor' content= htmlWebpackPlugin.options.bgcolor)
meta(name='msapplication-TileImage' content='/public/icons/mstile-150x150.png')