@font-face {
  font-family: 'Mabry Regular';
  src: url('fonts/mabry-regular.woff');
}
@font-face {
  font-family: 'Mabry Medium';
  src: url('fonts/mabry-medium.woff');
}
@font-face {
  font-family: 'Mabry Bold';
  src: url('fonts/mabry-bold.woff');
}
@font-face {
  font-family: 'PDU';
  src: url('fonts/pdu_regular.woff');
}